extends layout

block content
  h1= user.name
  img(src=img)

  h2="Friends"
  
  table
    each friend in friends
      form(action=`/gift/${user.id}.${friend.id}`, method="post")
        tr
          td= friend.name
          td
            select(name="item")
              option(value="1") 1
              option(value="2") 2
          td
            input( type="submit")
  
  h2="Gifts Received"
  ul
  if giftsReceived != undefined && giftsReceived.length > 0
    each gift in giftsReceived
      table 
        tr
          td From: #{gift.from.name}
        tr
          td To: #{gift.to.name}
        tr
          td Item: #{gift.item.name}
        tr
          td Date Sent: #{gift.date}
        tr
          td
            form(action=`/gift/${gift.id}`, method="post")
              if !gift.received
                input(type="submit" value="Receive")
              else
                input(type="submit" value="Receive" disabled="diabled")
  else
    p No gifts received!

  h2="Gifts Sent"
  ul
  if giftsSent != undefined && giftsSent.length > 0
    each gift in giftsSent
      table 
        tr
          td From: #{gift.from.name}
        tr
          td To: #{gift.to.name}
        tr
          td Item: #{gift.item.name}
        tr
          td Date Sent: #{gift.date}
  else
    p No gifts sent!
