extends layout

block content
  h1= user.name
  img(src=img)

  h2="Friends"
  
  table
    each friendGiftComposite in friendGiftItemComposites
      form(action=`/gift/${user.id}.${friendGiftComposite.friend.id}`, method="post")
        tr
          td= friendGiftComposite.friend.name
          td
            select(name="item")
              option(value="1") 1
              option(value="2") 2
          td
            if !friendGiftComposite.giftHasBeenSentToFriendToday
              input( type="submit")
            else 
              input( type="submit", disabled="diabled")

    form(action=`/send-all-gifts/${user.id}`, method="post")
      tr
        td= "Send All"
        td
          select(name="item")
            option(value="1") 1
            option(value="2") 2
        td
          if allowAllGiftSend
            input( type="submit")
          else 
            input( type="submit", disabled="diabled")
            
  h2="Gifts Received"
  each friendGiftComposite in friendGiftItemComposites
    if friendGiftComposite.giftItemCompositesSentByFriend != undefined && friendGiftComposite.giftItemCompositesSentByFriend.length > 0
      each giftItemComposite in friendGiftComposite.giftItemCompositesSentByFriend
        table 
          tr
            td From: #{friendGiftComposite.friend.name}
          tr
            td To: #{user.name}
          tr
            td Item: #{giftItemComposite.item.name}
          tr
            td Date Sent: #{giftItemComposite.gift.date}
          tr
            td
              form(action=`/gift/${giftItemComposite.gift.id}`, method="post")
                if !giftItemComposite.gift.received
                  input(type="submit" value="Receive")
                else
                  input(type="submit" value="Receive" disabled="diabled")
  form(action=`/receive-all-gifts/${user.id}`, method="post")
    if allowAllGiftReceive
      input(type="submit" value="Receive All")
    else
      input(type="submit" value="Receive All" disabled="diabled")
  